* {
    box-sizing: border-box;
  }

.container {
  background-color: rgb(230, 230, 230);
  width: fit-content;
  height: fit-content;
  padding: 20px;
  border-radius: 10px;
  border: 1px black solid;
}
.container-dark {
  background-color: rgb(0, 0, 0);
  width: fit-content;
  height: fit-content;
  padding: 20px;
  border-radius: 10px;
  border: rgb(207, 206, 206) 3px solid;
}
.display{
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
  border: 1px solid black;
  text-align: right;
}
.display-dark{
  width: 200px;
  height: 50px;
  border: none;
  background-color: gray;
  color: white;
  border-radius: 5px;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: right;
}
.button{
  background-color: white;
  border: 1px black solid;
  height: 50px;
  width: 50px;
  border-radius: 45px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}
.button-dark{
  background-color: white;
  color: black;
  border: 1px black solid;
  height: 50px;
  width: 50px;
  border-radius: 45px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}


.buttonOperator{
  border: 1px black solid;
  background-color: rgb(255, 238, 144);
  height: 50px;
  width: 50px;
  border-radius: 45px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}
.buttonOperator-dark{
  border: 1px black solid;
  background-color: rgb(131, 131, 129);
  color: white;
  height: 40px;
  width: 50px;
  border-radius: 45px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}

.buttonOperator-dark-equivalent {
  border: 1px black solid;
  border-radius: 45px;
  background-color: rgb(255, 153, 0);
  color: white;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}


.buttonC{
  border: 1px black solid;
  background-color: rgb(205, 148, 161);
  height: 50px;
  width: 50px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}
.buttonC-dark{
  border: 1px black solid;
  background-color: rgb(255, 0, 60);
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 45px;
  border-color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}

.buttonStyle{
  border: 1px black solid;
  background-color: rgb(182, 147, 197);
  height: 50px;
  width: 50px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}
.buttonStyle-dark{
  border: 1px black solid;
  background-color: rgb(97, 13, 133);
  height: 50px;
  width: 50px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  color: white;
  font-weight: 600;
}

.buttonCero{
  border: 1px black solid;
  background-color: white;
  height: 50px;
  width: 100px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}
.buttonCero-dark{
  border: 1px black solid;
  color: black;
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 45px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}


.keysContainer{
  width: 200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr)
}

.num{
  display: grid;
  width: 150px;
  grid-template-columns: repeat(3, 1fr);
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  align-content: space-between;
}

.operators{
  display: grid;
  width: 50px;
  grid-template-columns: 1fr;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}

h3 {
  text-align: center;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}